<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field class="w-100">
    <input matInput placeholder="List Title" formControlName="name" />
  </mat-form-field>
  <br />
  <mat-form-field class="w-100">
    <textarea
      matInput
      placeholder="List Description"
      formControlName="description"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="5"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mr-2" (click)="close()">Close</button>
  <button
    class="mat-raised-button mat-primary"
    type="submit"
    [disabled]="!form.valid"
    (click)="submitHandler()"
  >
    Save
  </button>
</mat-dialog-actions>
