@import '../auth-style.scss';

/* Responsive */
@media(max-width:767px) {}

.submit-btn {
  display: flex;
  justify-content: center;
}
.submit-btn > input {
  padding: 12px;
  border: 1px solid rgb(231, 231, 231);
  color: #444;
}
.submit-btn > input:hover {
  border: 1px solid #000;
  color: #000;
}
