<div class="authContainer">
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3 class="text-primary">Sign Up</h3>

        <form
          id="sign-up-form"
          class="form"
          [formGroup]="form"
          (ngSubmit)="submitHandler()"
        >
          <div class="formGroup">
            <input
              type="text"
              class="formControl"
              placeholder="Username"
              formControlName="username"
              required
            />
          </div>

          <div class="formGroup">
            <input
              type="email"
              class="formControl"
              placeholder="Email Address"
              formControlName="email"
              required
            />
          </div>

          <div class="formGroup">
            <input
              type="password"
              class="formControl"
              placeholder="Password"
              formControlName="password"
              required
            />
          </div>

          <div class="formGroup">
            <input
              type="submit"
              class="btn btnPrimary"
              value="Submit"
              [disabled]="!form.valid"
            />
          </div>

          <div class="formGroup">
            <span class="or"><span class="orInner">Or</span></span>
          </div>

          <!-- Continue with Google -->
          <div class="formGroup">
            <button
              type="button"
              class="btn googleBtn"
              (click)="authService.GoogleAuth()"
            >
              <i class="fab fa-google-plus-g"></i>
              Continue with Google
            </button>
          </div>

          <!-- Continue with Facebook -->
          <div class="formGroup">
            <button
              type="button"
              class="btn facebookBtn"
              (click)="authService.FacebookAuth()"
            >
              <i class="fab fa-facebook"></i>
              Continue with Facebook
            </button>
          </div>
        </form>

        <div class="forgotPassword">
          <span></span>
        </div>
      </div>

      <div class="redirectToLogin">
        <span
          >Already have an account?&nbsp;
          <span class="redirect" routerLink="../login">Log In</span></span
        >
      </div>
    </div>
  </div>
</div>
