<div class="authContainer">
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <div *ngIf="!activeToast">
          <h3>Thank You for Registering</h3>

          <div>
            <div class="formGroup" *ngIf="authService.userData as user">
              <p class="text-center">
                We have sent a confirmation email to
                <strong>{{ user.email }}</strong
                >.
              </p>
            </div>
          </div>

          <!-- Calling SendVerificationMail() method using authService Api -->
          <div class="formGroup">
            <button
              type="button"
              class="btn btn-primary"
              (click)="authService.SendVerificationMail()"
            >
              <i class="fas fa-redo-alt"></i>
              Resend Verification Email
            </button>
          </div>
        </div>

        <!-- After the Verification-->
        <div *ngIf="activeToast">
          <h3>Thank You for the Verification</h3>

          <div>
            <div class="formGroup" *ngIf="authService.userData as user">
              <p class="text-center">Now you could go to your Dashboard!.</p>
            </div>
          </div>

          <div class="formGroup">
            <button
              type="button"
              class="btn btn-link btnWarning text-decoration-none"
              routerLink="../../dashboard"
            >
              <i class="fa fa-id-badge"></i>
              Dashboard
            </button>
          </div>
        </div>
      </div>

      <div class="redirectToLogin" *ngIf="!activeToast">
        <span
          >Go back to?<span class="redirect" routerLink="../login">
            Sign in</span
          ></span
        >
      </div>
    </div>
  </div>
</div>
