<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/home">{{ projectTitle }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbarCollapsing()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup"
      [class.collapse]="navbarCollapsed"
    >
      <div class="navbar-nav mr-auto">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/home"
          routerLinkActive="active"
          >Home</a
        >
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/movies"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Movie List</a
        >
      </div>
      <div class="navbar-nav ml-auto">
        <a
          *ngIf="authService.isLoggedIn === false"
          routerLink="/auth/login"
          style="text-decoration: none; font-size: 16px; font-weight: bold"
        >
          Log In
        </a>

        <div *ngIf="authService.userData as user" class="text-dark mr-2">
          <div *ngIf="authService.isLoggedIn === true">
            Hello
            <a
              routerLink="/auth/dashboard"
              class="text-success"
              style="text-decoration: none; font-weight: bold"
            >
              {{ user.displayName ? user.displayName : 'Unkonwn' }}</a
            >
          </div>
        </div>

        <a
          *ngIf="authService.isLoggedIn === true"
          routerLink="/auth/signOut"
          style="text-decoration: none; font-size: 16px; font-weight: bold"
        >
          <span class="text-dark">|</span>
          Log Out
        </a>
        <!-- <span class="ml-2">{{ authService.isLoggedIn | json }}</span> -->
      </div>
      <!-- <div class="navbar-nav ml-auto" *ngIf="!authService.userData as user">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/auth"
          routerLinkActive="active"
          >Sign In
        </a>

        <div
          *ngIf="authService.userData as user"
          class="d-flex flex-row align-items-center"
        >
          <div *ngIf="user && user.emailVerified" class="text-dark mt-1">
            Hello
            <a
              routerLink="/auth/dashboard"
              class="text-success"
              style="text-decoration: none"
            >
              {{ user.displayName ? user.displayName : 'Unkonwn' }}</a
            >
            &nbsp; <span class="text-dark">|</span>
          </div>

          <button
            *ngIf="user"
            class="btn btn-link nav-link pb-1"
            (click)="authService.SignOut()"
            style="font-size: 16px"
          >
            <b>Sign Out</b>
          </button>
        </div>
      </div> -->
    </div>
  </div>
</nav>
