.logo{
    color: #000;
    font-weight: 900;
        
        &:hover, &:active, &:visited{
            text-decoration: none;
            color: #000 !important;
        }
}
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.auth-link {
    text-decoration: none; 
    font-size: 16px; 
    font-weight: normal;
    color: rgba(0,0,0,.5);
}

.auth-link:hover {
    color:rgba(0,0,0,.9);
}

.dashboard-link {
    color: #5cb85c !important;
}

.dashboard-link:hover {
    color: green !important;
}
